---
title: "Hello World"
date: "2025-06-28"
description: "My first static post with mdsvex"
project: "waka-relay"
tags:
  - mdsvex
  - sveltekit
---

## Hello!

Welcome to my ~~dynamic~~ **static** blog powered by mdsvex and TypeScript!

[testing href](/posts/styling-test)

![waka relay icon](/images/waka-relay.png)
